body {
  background: #030c1b;
  background-size: cover;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#094c72', endColorstr='#01293f',GradientType=1);
}
.stars.large {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: 542px 1519px #fff, 577px 600px #fff, 502px 1296px #fff,
    93px 1423px #fff, 405px 1872px #fff, 1265px 636px #fff, 1746px 180px #fff,
    1523px 1125px #fff, 560px 1027px #fff, 1228px 1831px #fff, 1774px 26px #fff,
    1382px 1795px #fff, 1160px 529px #fff, 424px 1660px #fff, 1915px 66px #fff,
    270px 726px #fff, 230px 1704px #fff, 469px 1152px #fff, 1544px 708px #fff,
    363px 1048px #fff, 1416px 579px #fff, 712px 427px #fff, 79px 1966px #fff,
    921px 114px #fff, 566px 143px #fff, 1578px 146px #fff, 47px 502px #fff,
    521px 268px #fff, 673px 293px #fff, 552px 934px #fff, 1357px 91px #fff,
    424px 1683px #fff, 188px 644px #fff, 941px 468px #fff, 297px 435px #fff,
    535px 989px #fff, 1640px 745px #fff, 790px 1674px #fff, 378px 829px #fff,
    138px 1181px #fff, 784px 895px #fff, 78px 192px #fff, 576px 1788px #fff,
    1190px 884px #fff, 893px 942px #fff, 216px 1335px #fff, 1179px 1728px #fff,
    272px 1617px #fff, 373px 1313px #fff, 831px 1320px #fff, 227px 1682px #fff,
    1373px 605px #fff, 563px 975px #fff, 1370px 1728px #fff, 1138px 730px #fff,
    1755px 1330px #fff, 1273px 1814px #fff, 481px 254px #fff, 925px 1145px #fff,
    1644px 378px #fff, 957px 1382px #fff, 1113px 1610px #fff, 1108px 1255px #fff,
    967px 982px #fff, 745px 1134px #fff, 1991px 1067px #fff, 502px 1479px #fff,
    708px 1790px #fff, 512px 1952px #fff, 1499px 854px #fff, 925px 1793px #fff,
    1511px 1253px #fff, 1570px 1130px #fff, 691px 1507px #fff, 946px 32px #fff,
    429px 1351px #fff, 1832px 984px #fff, 1448px 1103px #fff, 685px 550px #fff,
    1500px 1461px #fff, 1961px 1386px #fff, 1849px 646px #fff, 804px 436px #fff,
    202px 1841px #fff, 1694px 732px #fff, 78px 1622px #fff, 764px 477px #fff,
    618px 580px #fff, 1220px 228px #fff, 1927px 428px #fff, 1855px 1345px #fff,
    1757px 194px #fff, 585px 1539px #fff, 1370px 1010px #fff, 1724px 12px #fff,
    1199px 1577px #fff, 591px 940px #fff, 697px 969px #fff, 1524px 525px #fff,
    1137px 755px #fff, 1551px 1421px #fff, 1359px 271px #fff, 1764px 989px #fff,
    206px 779px #fff, 93px 844px #fff, 1383px 1698px #fff, 1466px 32px #fff,
    1561px 1666px #fff, 262px 7px #fff, 1844px 1217px #fff, 1124px 1527px #fff,
    735px 134px #fff, 1064px 663px #fff, 1918px 743px #fff, 176px 1353px #fff,
    394px 300px #fff, 1638px 399px #fff, 1949px 1412px #fff, 1384px 173px #fff,
    249px 1664px #fff, 1997px 775px #fff, 1187px 1473px #fff, 1699px 712px #fff,
    1696px 10px #fff, 1451px 983px #fff, 1403px 491px #fff, 1994px 276px #fff,
    823px 98px #fff, 243px 1723px #fff, 1758px 1960px #fff, 926px 455px #fff,
    1644px 1388px #fff, 1681px 1572px #fff, 366px 1691px #fff, 1095px 66px #fff,
    790px 1939px #fff, 1673px 536px #fff, 786px 1959px #fff, 1685px 446px #fff,
    1235px 28px #fff, 520px 1813px #fff, 414px 510px #fff, 694px 1871px #fff,
    56px 93px #fff, 779px 1736px #fff, 1937px 286px #fff, 352px 682px #fff,
    1134px 413px #fff, 1230px 1597px #fff, 1228px 1847px #fff, 944px 260px #fff,
    624px 1451px #fff, 1637px 1401px #fff, 260px 657px #fff, 691px 916px #fff,
    1933px 1573px #fff, 1913px 137px #fff, 679px 1127px #fff, 582px 1431px #fff,
    135px 1422px #fff, 130px 1100px #fff, 555px 386px #fff, 1591px 213px #fff,
    453px 1581px #fff, 195px 307px #fff, 1841px 417px #fff, 1829px 1688px #fff,
    292px 1044px #fff, 973px 1381px #fff, 1585px 1457px #fff, 1371px 528px #fff,
    482px 628px #fff, 397px 19px #fff, 1407px 1808px #fff, 1796px 477px #fff,
    617px 1483px #fff, 847px 1691px #fff, 977px 981px #fff, 472px 777px #fff,
    897px 1320px #fff, 1474px 1333px #fff, 263px 388px #fff, 1817px 909px #fff,
    1609px 494px #fff, 731px 1044px #fff, 552px 1982px #fff, 1553px 300px #fff,
    789px 545px #fff, 475px 192px #fff, 76px 522px #fff, 1800px 1782px #fff,
    20px 1877px #fff, 1148px 1408px #fff, 981px 1477px #fff, 714px 797px #fff,
    1221px 1525px #fff, 1095px 1922px #fff, 1938px 1227px #fff, 366px 99px #fff,
    1923px 544px #fff, 1940px 439px #fff, 178px 1573px #fff, 1455px 682px #fff,
    862px 1478px #fff, 591px 887px #fff, 1400px 1531px #fff, 1874px 471px #fff,
    466px 1288px #fff, 1276px 421px #fff, 384px 1990px #fff, 1636px 1475px #fff,
    1776px 1490px #fff, 1245px 1497px #fff, 869px 138px #fff, 1460px 1317px #fff,
    1731px 181px #fff, 1507px 61px #fff, 1880px 1420px #fff, 756px 910px #fff,
    115px 1595px #fff, 1221px 1846px #fff, 895px 987px #fff, 1014px 1645px #fff,
    817px 1700px #fff, 966px 337px #fff, 151px 1850px #fff, 392px 986px #fff,
    1697px 1551px #fff, 573px 1922px #fff, 440px 1945px #fff, 784px 1820px #fff,
    230px 522px #fff, 362px 1553px #fff, 864px 1579px #fff, 1005px 874px #fff,
    526px 378px #fff, 1845px 1010px #fff, 1295px 1207px #fff, 943px 151px #fff,
    741px 1905px #fff, 480px 288px #fff, 1068px 465px #fff, 488px 701px #fff,
    956px 1426px #fff, 1357px 1094px #fff, 1983px 967px #fff, 1331px 843px #fff,
    1606px 479px #fff, 1673px 553px #fff, 1645px 1104px #fff, 807px 1122px #fff,
    74px 1208px #fff, 1400px 1356px #fff, 791px 1473px #fff, 62px 1334px #fff,
    1992px 638px #fff, 541px 801px #fff, 66px 475px #fff, 1368px 292px #fff,
    1479px 1711px #fff, 21px 1652px #fff, 1862px 879px #fff, 1774px 890px #fff,
    1928px 1015px #fff, 232px 87px #fff, 796px 1662px #fff, 906px 1810px #fff,
    469px 1348px #fff, 1525px 133px #fff, 1068px 113px #fff, 199px 588px #fff,
    189px 843px #fff, 1271px 1848px #fff, 1993px 1159px #fff, 1780px 433px #fff,
    938px 1505px #fff, 359px 1616px #fff, 1501px 141px #fff, 479px 159px #fff,
    1914px 462px #fff, 1982px 1402px #fff, 1071px 266px #fff, 1049px 1027px #fff,
    1848px 528px #fff, 70px 417px #fff, 465px 184px #fff, 624px 1640px #fff,
    712px 281px #fff, 1011px 266px #fff, 188px 536px #fff, 399px 1972px #fff,
    1617px 250px #fff, 1598px 1658px #fff, 228px 1980px #fff, 47px 666px #fff,
    1111px 842px #fff, 961px 992px #fff, 485px 1057px #fff, 1844px 1765px #fff;
  animation: blink-large 4s infinite;
}
.stars.medium {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: 644px 932px #fff, 1986px 800px #fff, 961px 218px #fff,
    92px 268px #fff, 428px 643px #fff, 550px 1229px #fff, 1146px 724px #fff,
    1423px 704px #fff, 1304px 236px #fff, 1688px 1370px #fff, 959px 1164px #fff,
    618px 419px #fff, 1976px 137px #fff, 1619px 1026px #fff, 480px 1404px #fff,
    1677px 452px #fff, 509px 1999px #fff, 166px 1386px #fff, 377px 238px #fff,
    1411px 26px #fff, 668px 330px #fff, 1908px 659px #fff, 873px 765px #fff,
    1434px 1040px #fff, 815px 1048px #fff, 783px 1886px #fff, 237px 1118px #fff,
    1542px 1377px #fff, 1490px 574px #fff, 537px 434px #fff, 326px 776px #fff,
    1527px 1435px #fff, 1658px 1710px #fff, 1468px 1310px #fff,
    1602px 1503px #fff, 1469px 600px #fff, 1725px 1041px #fff, 151px 360px #fff,
    1550px 1465px #fff, 137px 188px #fff, 1010px 632px #fff, 1877px 937px #fff,
    437px 639px #fff, 1295px 520px #fff, 1769px 104px #fff, 1808px 351px #fff,
    309px 1174px #fff, 768px 41px #fff, 53px 756px #fff, 856px 948px #fff,
    1437px 324px #fff, 1751px 112px #fff, 621px 1185px #fff, 1807px 509px #fff,
    911px 1768px #fff, 1379px 168px #fff, 576px 577px #fff, 253px 487px #fff,
    1349px 564px #fff, 317px 124px #fff, 1711px 624px #fff, 1256px 1266px #fff,
    1353px 1611px #fff, 746px 1064px #fff, 1878px 1454px #fff, 1881px 688px #fff,
    740px 355px #fff, 1689px 1281px #fff, 784px 764px #fff, 970px 1006px #fff,
    1963px 295px #fff, 962px 631px #fff, 608px 1388px #fff, 1097px 102px #fff,
    484px 53px #fff, 1020px 1698px #fff, 1394px 818px #fff, 1537px 1594px #fff,
    1994px 1867px #fff, 124px 135px #fff, 943px 1638px #fff, 612px 212px #fff,
    1812px 1488px #fff, 285px 1164px #fff, 261px 1797px #fff, 1585px 1715px #fff,
    1713px 1669px #fff, 1982px 632px #fff, 782px 220px #fff, 1457px 177px #fff,
    304px 1729px #fff, 866px 1544px #fff, 546px 881px #fff, 220px 1829px #fff,
    1359px 1433px #fff, 507px 500px #fff, 1577px 1913px #fff, 1517px 723px #fff,
    1033px 1387px #fff, 17px 400px #fff, 1346px 1141px #fff, 1245px 1728px #fff,
    388px 259px #fff, 1431px 1267px #fff, 442px 299px #fff, 964px 955px #fff,
    1058px 1726px #fff, 1679px 1741px #fff, 1920px 510px #fff, 753px 1373px #fff,
    1910px 1074px #fff, 1539px 431px #fff, 152px 1017px #fff, 756px 1603px #fff,
    589px 467px #fff, 104px 1763px #fff, 1103px 1129px #fff, 1988px 678px #fff,
    1645px 310px #fff, 827px 1918px #fff, 993px 1818px #fff, 1093px 1209px #fff,
    335px 570px #fff, 1342px 600px #fff, 1224px 1359px #fff, 389px 1766px #fff,
    392px 887px #fff, 1351px 409px #fff, 894px 1600px #fff, 1919px 1897px #fff,
    351px 1748px #fff, 91px 1191px #fff, 1192px 111px #fff, 334px 936px #fff,
    1910px 1487px #fff, 1696px 905px #fff, 1698px 1770px #fff, 442px 1672px #fff,
    298px 359px #fff, 769px 926px #fff, 55px 1852px #fff, 143px 268px #fff,
    752px 1571px #fff, 1708px 1223px #fff, 1211px 1817px #fff, 418px 748px #fff,
    1305px 1002px #fff, 809px 699px #fff, 1300px 1198px #fff, 256px 855px #fff,
    1031px 1626px #fff, 1043px 1517px #fff, 637px 688px #fff, 1052px 328px #fff,
    639px 361px #fff, 878px 779px #fff, 774px 1391px #fff, 113px 772px #fff,
    277px 328px #fff, 1263px 431px #fff, 855px 351px #fff, 1936px 22px #fff,
    1315px 1705px #fff, 939px 1019px #fff, 343px 887px #fff, 28px 856px #fff,
    801px 890px #fff, 804px 1617px #fff, 1750px 1179px #fff, 985px 1743px #fff,
    1713px 1156px #fff, 170px 786px #fff, 774px 1278px #fff, 1247px 396px #fff,
    3px 1062px #fff, 1142px 1982px #fff, 982px 1472px #fff, 1064px 630px #fff,
    167px 1673px #fff, 637px 1612px #fff, 572px 1584px #fff, 1353px 1622px #fff,
    908px 228px #fff, 1566px 1794px #fff, 1722px 732px #fff, 86px 1920px #fff,
    1242px 1622px #fff, 1007px 999px #fff, 1149px 1947px #fff, 1812px 404px #fff,
    91px 1488px #fff, 1213px 1450px #fff, 536px 1628px #fff, 1177px 1876px #fff,
    956px 760px #fff, 1679px 289px #fff, 1459px 244px #fff, 1189px 958px #fff,
    1064px 1415px #fff, 173px 243px #fff, 975px 699px #fff, 1550px 1899px #fff,
    1088px 1606px #fff, 741px 655px #fff, 1736px 117px #fff, 400px 1413px #fff,
    1038px 76px #fff, 154px 1509px #fff, 142px 1431px #fff, 136px 212px #fff,
    443px 626px #fff, 825px 1548px #fff, 1154px 108px #fff, 119px 1660px #fff,
    1153px 1822px #fff, 1928px 668px #fff, 1865px 575px #fff, 991px 801px #fff,
    1352px 1641px #fff, 1479px 1784px #fff, 1442px 654px #fff,
    1859px 1931px #fff, 305px 1135px #fff, 243px 377px #fff, 1530px 1435px #fff,
    1206px 1997px #fff, 1916px 777px #fff, 1592px 1723px #fff, 490px 223px #fff,
    672px 1437px #fff, 1879px 956px #fff, 235px 1085px #fff, 738px 1184px #fff,
    450px 653px #fff, 239px 1168px #fff, 1428px 1925px #fff, 1886px 222px #fff,
    1121px 179px #fff, 843px 232px #fff, 1150px 1976px #fff, 820px 622px #fff,
    1442px 1531px #fff, 1891px 1046px #fff, 72px 1875px #fff, 146px 1760px #fff,
    659px 607px #fff, 1405px 1961px #fff, 255px 455px #fff, 5px 371px #fff,
    1809px 1977px #fff, 1659px 837px #fff, 720px 1027px #fff, 727px 1729px #fff,
    147px 366px #fff, 1106px 797px #fff, 976px 730px #fff, 1744px 638px #fff,
    714px 81px #fff, 902px 1989px #fff, 279px 1645px #fff, 1234px 1397px #fff,
    1144px 902px #fff, 1512px 423px #fff, 679px 313px #fff, 698px 48px #fff,
    1672px 458px #fff, 1052px 95px #fff, 171px 519px #fff, 134px 15px #fff,
    1323px 1433px #fff, 622px 1242px #fff, 1767px 914px #fff, 199px 1107px #fff,
    1993px 255px #fff, 1945px 565px #fff, 1010px 1965px #fff, 1810px 785px #fff,
    367px 1594px #fff, 1410px 130px #fff, 1816px 204px #fff, 898px 1752px #fff,
    1095px 1574px #fff, 1206px 1160px #fff, 203px 737px #fff, 1640px 534px #fff,
    1224px 686px #fff, 1629px 1808px #fff, 1326px 1053px #fff, 158px 1167px #fff,
    78px 1611px #fff, 1440px 1062px #fff, 956px 1924px #fff, 1724px 841px #fff,
    707px 28px #fff, 1964px 1834px #fff, 964px 789px #fff, 569px 1251px #fff,
    855px 176px #fff, 458px 788px #fff, 291px 961px #fff, 406px 1397px #fff,
    381px 862px #fff, 1167px 774px #fff, 744px 1987px #fff, 1231px 911px #fff,
    255px 1537px #fff, 1216px 811px #fff, 1848px 1898px #fff, 109px 818px #fff,
    1754px 900px #fff, 1932px 117px #fff, 529px 1879px #fff, 1534px 540px #fff,
    213px 515px #fff, 676px 587px #fff, 1604px 1002px #fff, 1578px 763px #fff,
    1697px 95px #fff, 611px 1643px #fff, 383px 1380px #fff, 1549px 1910px #fff,
    433px 438px #fff, 1504px 1593px #fff, 480px 41px #fff, 1557px 894px #fff,
    1951px 1037px #fff, 783px 1666px #fff, 1852px 471px #fff, 1096px 1438px #fff,
    957px 819px #fff, 915px 443px #fff, 1310px 1568px #fff, 1048px 745px #fff,
    1900px 168px #fff, 1043px 1543px #fff, 69px 1215px #fff, 44px 1347px #fff,
    1439px 1563px #fff, 1825px 842px #fff, 1877px 1300px #fff, 769px 1923px #fff,
    577px 827px #fff, 216px 1941px #fff, 1104px 447px #fff, 1631px 1595px #fff,
    860px 1820px #fff, 1783px 1181px #fff, 1949px 1205px #fff, 1843px 589px #fff,
    674px 1517px #fff, 157px 645px #fff, 1979px 1583px #fff, 1202px 1460px #fff,
    90px 1037px #fff, 1759px 1156px #fff, 1023px 1301px #fff, 1845px 1466px #fff,
    562px 482px #fff, 164px 1423px #fff, 1983px 342px #fff, 233px 192px #fff,
    1447px 1522px #fff, 113px 1485px #fff, 69px 1661px #fff, 845px 715px #fff,
    1086px 349px #fff, 1778px 1411px #fff, 194px 1495px #fff, 744px 1383px #fff,
    1526px 1692px #fff, 1425px 721px #fff, 822px 92px #fff, 682px 262px #fff,
    438px 1549px #fff, 1854px 1581px #fff, 187px 820px #fff, 1027px 869px #fff,
    1897px 625px #fff, 1082px 606px #fff, 1169px 1696px #fff, 823px 949px #fff,
    486px 711px #fff, 1829px 1482px #fff, 728px 419px #fff, 1729px 172px #fff,
    1198px 896px #fff, 1146px 1336px #fff, 1983px 407px #fff, 502px 921px #fff,
    771px 1188px #fff, 145px 1901px #fff, 1828px 1521px #fff, 12px 976px #fff,
    250px 1306px #fff, 691px 417px #fff, 640px 744px #fff, 1266px 666px #fff,
    245px 1892px #fff, 1010px 1206px #fff, 478px 23px #fff, 1385px 1428px #fff,
    637px 1528px #fff, 1556px 724px #fff, 1504px 213px #fff, 859px 30px #fff,
    1767px 301px #fff, 1605px 1079px #fff, 1059px 1px #fff, 926px 931px #fff,
    873px 1449px #fff, 1872px 1426px #fff, 1082px 791px #fff, 1143px 946px #fff,
    1225px 763px #fff, 1614px 1585px #fff, 1539px 574px #fff, 1736px 1444px #fff,
    1610px 818px #fff, 948px 1651px #fff, 1884px 1628px #fff, 1192px 1822px #fff,
    1493px 1805px #fff, 1629px 1518px #fff, 641px 631px #fff, 1352px 1596px #fff,
    278px 560px #fff, 1445px 599px #fff, 641px 47px #fff, 911px 747px #fff,
    366px 1452px #fff, 1296px 1037px #fff, 1147px 14px #fff, 1796px 472px #fff,
    772px 695px #fff, 1882px 3px #fff, 879px 1708px #fff, 1451px 1358px #fff,
    1165px 1431px #fff, 185px 1610px #fff, 1383px 645px #fff, 1994px 1317px #fff,
    655px 529px #fff, 965px 202px #fff, 1553px 1923px #fff, 952px 657px #fff,
    1916px 659px #fff, 509px 802px #fff, 302px 1005px #fff, 1576px 892px #fff,
    1112px 906px #fff, 338px 302px #fff, 1396px 454px #fff, 738px 237px #fff,
    1750px 413px #fff, 117px 1409px #fff, 902px 1412px #fff, 993px 261px #fff,
    1820px 1398px #fff, 74px 482px #fff, 1711px 1356px #fff, 1785px 1832px #fff,
    1297px 200px #fff, 1777px 1237px #fff, 457px 155px #fff, 1588px 1616px #fff,
    1907px 1640px #fff, 1003px 944px #fff, 1119px 519px #fff, 1861px 1989px #fff,
    1487px 51px #fff, 1439px 79px #fff, 752px 1229px #fff, 1846px 403px #fff,
    572px 825px #fff, 1901px 337px #fff, 434px 735px #fff, 916px 1481px #fff,
    435px 1867px #fff, 1372px 20px #fff, 242px 1536px #fff, 86px 1249px #fff,
    392px 543px #fff, 408px 183px #fff, 854px 912px #fff, 269px 816px #fff,
    729px 662px #fff, 1157px 1674px #fff, 1349px 439px #fff, 756px 370px #fff,
    1087px 90px #fff, 1193px 1733px #fff, 727px 120px #fff, 1834px 1759px #fff,
    1658px 27px #fff, 1216px 164px #fff, 1650px 1015px #fff, 1151px 1779px #fff,
    1373px 939px #fff, 1551px 850px #fff;
  animation: blink-medium 3s infinite;
}
.stars.small {
  height: 0.5px;
  width: 0.5px;
  background: transparent;
  box-shadow: 828px 828px #fff, 345px 1128px #fff, 123px 290px #fff,
    700px 1189px #fff, 1383px 1118px #fff, 1752px 241px #fff, 1069px 739px #fff,
    382px 518px #fff, 491px 609px #fff, 210px 1328px #fff, 1000px 1780px #fff,
    1694px 78px #fff, 101px 5px #fff, 152px 314px #fff, 1767px 1479px #fff,
    581px 249px #fff, 1847px 491px #fff, 440px 992px #fff, 1783px 352px #fff,
    1727px 1440px #fff, 1461px 73px #fff, 733px 782px #fff, 1107px 49px #fff,
    1168px 291px #fff, 978px 1915px #fff, 1162px 1639px #fff, 1135px 96px #fff,
    985px 1809px #fff, 1733px 1643px #fff, 1703px 1081px #fff, 1605px 836px #fff,
    333px 1297px #fff, 839px 1866px #fff, 1472px 481px #fff, 1217px 566px #fff,
    1523px 176px #fff, 1918px 1745px #fff, 939px 1814px #fff, 935px 1779px #fff,
    1423px 1804px #fff, 545px 1334px #fff, 169px 191px #fff, 308px 401px #fff,
    307px 1592px #fff, 759px 134px #fff, 1843px 1540px #fff, 264px 189px #fff,
    707px 536px #fff, 1358px 288px #fff, 385px 1287px #fff, 1590px 1147px #fff,
    15px 705px #fff, 939px 726px #fff, 919px 61px #fff, 170px 1480px #fff,
    129px 1379px #fff, 58px 272px #fff, 1352px 1739px #fff, 37px 476px #fff,
    402px 807px #fff, 571px 1567px #fff, 119px 961px #fff, 1272px 129px #fff,
    1915px 1129px #fff, 984px 1965px #fff, 576px 907px #fff, 831px 165px #fff,
    340px 719px #fff, 1233px 1702px #fff, 517px 492px #fff, 1521px 888px #fff,
    414px 1205px #fff, 493px 555px #fff, 1297px 66px #fff, 1203px 1072px #fff,
    776px 1400px #fff, 694px 727px #fff, 1691px 1039px #fff, 441px 1906px #fff,
    1273px 182px #fff, 1064px 417px #fff, 202px 463px #fff, 166px 381px #fff,
    1191px 1925px #fff, 1068px 175px #fff, 1242px 1924px #fff,
    1947px 1903px #fff, 1998px 1484px #fff, 1535px 1926px #fff, 16px 327px #fff,
    766px 174px #fff, 866px 425px #fff, 1326px 88px #fff, 1967px 809px #fff,
    902px 887px #fff, 1288px 273px #fff, 491px 1365px #fff, 1139px 613px #fff,
    1260px 1935px #fff, 275px 1097px #fff, 243px 511px #fff, 1739px 815px #fff,
    227px 346px #fff, 1633px 705px #fff, 1623px 1681px #fff, 851px 106px #fff,
    1053px 346px #fff, 1706px 1015px #fff, 1392px 593px #fff, 327px 1842px #fff,
    1663px 1190px #fff, 584px 412px #fff, 206px 247px #fff, 1153px 1088px #fff,
    1405px 1073px #fff, 1801px 1755px #fff, 273px 1725px #fff, 65px 1251px #fff,
    582px 235px #fff, 1286px 1617px #fff, 1109px 251px #fff, 837px 1992px #fff,
    859px 1089px #fff, 1655px 1177px #fff, 1300px 1615px #fff, 545px 495px #fff,
    495px 591px #fff, 494px 270px #fff, 1194px 1314px #fff, 387px 840px #fff,
    660px 1119px #fff, 211px 1093px #fff, 1872px 1173px #fff, 894px 1450px #fff,
    10px 682px #fff, 415px 528px #fff, 1977px 132px #fff, 432px 1947px #fff,
    127px 1523px #fff, 1479px 537px #fff, 71px 1448px #fff, 107px 1481px #fff,
    1126px 1325px #fff, 1780px 1312px #fff, 1384px 1992px #fff,
    892px 1481px #fff, 1940px 1436px #fff, 1741px 1287px #fff, 874px 794px #fff,
    161px 8px #fff, 42px 738px #fff, 121px 505px #fff, 701px 555px #fff,
    1934px 616px #fff, 817px 324px #fff, 1113px 1526px #fff, 1026px 214px #fff,
    1070px 614px #fff, 1654px 1806px #fff, 962px 874px #fff, 917px 1519px #fff,
    729px 831px #fff, 99px 1384px #fff, 841px 1442px #fff, 612px 1822px #fff,
    310px 1028px #fff, 1407px 127px #fff, 1759px 1890px #fff, 1788px 1709px #fff,
    1994px 411px #fff, 1669px 442px #fff, 897px 844px #fff, 1541px 790px #fff,
    165px 1894px #fff, 1829px 1097px #fff, 1803px 1621px #fff, 1096px 986px #fff,
    831px 117px #fff, 1190px 1950px #fff, 932px 396px #fff, 1729px 1797px #fff,
    434px 458px #fff, 536px 1352px #fff, 1336px 583px #fff, 1860px 1664px #fff,
    1276px 1813px #fff, 371px 1027px #fff, 143px 20px #fff, 439px 595px #fff,
    1186px 1549px #fff, 1392px 1230px #fff, 93px 230px #fff, 398px 451px #fff,
    1830px 446px #fff, 811px 1745px #fff, 1913px 44px #fff, 865px 152px #fff,
    1227px 156px #fff, 1680px 362px #fff, 1673px 738px #fff, 1741px 80px #fff,
    220px 665px #fff, 1959px 386px #fff, 1053px 274px #fff, 495px 880px #fff,
    1617px 683px #fff, 629px 1708px #fff, 1265px 616px #fff, 337px 977px #fff,
    43px 1190px #fff, 1909px 79px #fff, 797px 1462px #fff, 423px 449px #fff,
    68px 535px #fff, 678px 259px #fff, 156px 976px #fff, 1134px 1678px #fff,
    1121px 1741px #fff, 807px 534px #fff, 548px 727px #fff, 1450px 639px #fff,
    494px 1290px #fff, 849px 553px #fff, 796px 500px #fff, 603px 456px #fff,
    135px 1105px #fff, 1173px 341px #fff, 208px 1800px #fff, 1061px 1417px #fff,
    785px 92px #fff, 393px 416px #fff, 1974px 1299px #fff, 1025px 1096px #fff,
    1674px 1157px #fff, 1719px 342px #fff, 1995px 760px #fff, 166px 1168px #fff,
    501px 386px #fff, 1923px 969px #fff, 685px 1391px #fff, 1363px 1474px #fff,
    304px 96px #fff, 483px 543px #fff, 348px 1184px #fff, 1817px 1619px #fff,
    289px 202px #fff, 1465px 385px #fff, 1367px 1208px #fff, 1303px 375px #fff;
  animation: blink-small 2s infinite;
}
@keyframes blink-large {
  0% {
    box-shadow: 542px 1519px #fff, 577px 600px #fff, 502px 1296px #fff,
      93px 1423px #fff, 405px 1872px #fff, 1265px 636px #fff, 1746px 180px #fff,
      1523px 1125px #fff, 560px 1027px #fff, 1228px 1831px #fff,
      1774px 26px #fff, 1382px 1795px #fff, 1160px 529px #fff, 424px 1660px #fff,
      1915px 66px #fff, 270px 726px #fff, 230px 1704px #fff, 469px 1152px #fff,
      1544px 708px #fff, 363px 1048px #fff, 1416px 579px #fff, 712px 427px #fff,
      79px 1966px #fff, 921px 114px #fff, 566px 143px #fff, 1578px 146px #fff,
      47px 502px #fff, 521px 268px #fff, 673px 293px #fff, 552px 934px #fff,
      1357px 91px #fff, 424px 1683px #fff, 188px 644px #fff, 941px 468px #fff,
      297px 435px #fff, 535px 989px #fff, 1640px 745px #fff, 790px 1674px #fff,
      378px 829px #fff, 138px 1181px #fff, 784px 895px #fff, 78px 192px #fff,
      576px 1788px #fff, 1190px 884px #fff, 893px 942px #fff, 216px 1335px #fff,
      1179px 1728px #fff, 272px 1617px #fff, 373px 1313px #fff,
      831px 1320px #fff, 227px 1682px #fff, 1373px 605px #fff, 563px 975px #fff,
      1370px 1728px #fff, 1138px 730px #fff, 1755px 1330px #fff,
      1273px 1814px #fff, 481px 254px #fff, 925px 1145px #fff, 1644px 378px #fff,
      957px 1382px #fff, 1113px 1610px #fff, 1108px 1255px #fff,
      967px 982px #fff, 745px 1134px #fff, 1991px 1067px #fff, 502px 1479px #fff,
      708px 1790px #fff, 512px 1952px #fff, 1499px 854px #fff, 925px 1793px #fff,
      1511px 1253px #fff, 1570px 1130px #fff, 691px 1507px #fff, 946px 32px #fff,
      429px 1351px #fff, 1832px 984px #fff, 1448px 1103px #fff, 685px 550px #fff,
      1500px 1461px #fff, 1961px 1386px #fff, 1849px 646px #fff,
      804px 436px #fff, 202px 1841px #fff, 1694px 732px #fff, 78px 1622px #fff,
      764px 477px #fff, 618px 580px #fff, 1220px 228px #fff, 1927px 428px #fff,
      1855px 1345px #fff, 1757px 194px #fff, 585px 1539px #fff,
      1370px 1010px #fff, 1724px 12px #fff, 1199px 1577px #fff, 591px 940px #fff,
      697px 969px #fff, 1524px 525px #fff, 1137px 755px #fff, 1551px 1421px #fff,
      1359px 271px #fff, 1764px 989px #fff, 206px 779px #fff, 93px 844px #fff,
      1383px 1698px #fff, 1466px 32px #fff, 1561px 1666px #fff, 262px 7px #fff,
      1844px 1217px #fff, 1124px 1527px #fff, 735px 134px #fff,
      1064px 663px #fff, 1918px 743px #fff, 176px 1353px #fff, 394px 300px #fff,
      1638px 399px #fff, 1949px 1412px #fff, 1384px 173px #fff,
      249px 1664px #fff, 1997px 775px #fff, 1187px 1473px #fff,
      1699px 712px #fff, 1696px 10px #fff, 1451px 983px #fff, 1403px 491px #fff,
      1994px 276px #fff, 823px 98px #fff, 243px 1723px #fff, 1758px 1960px #fff,
      926px 455px #fff, 1644px 1388px #fff, 1681px 1572px #fff,
      366px 1691px #fff, 1095px 66px #fff, 790px 1939px #fff, 1673px 536px #fff,
      786px 1959px #fff, 1685px 446px #fff, 1235px 28px #fff, 520px 1813px #fff,
      414px 510px #fff, 694px 1871px #fff, 56px 93px #fff, 779px 1736px #fff,
      1937px 286px #fff, 352px 682px #fff, 1134px 413px #fff, 1230px 1597px #fff,
      1228px 1847px #fff, 944px 260px #fff, 624px 1451px #fff,
      1637px 1401px #fff, 260px 657px #fff, 691px 916px #fff, 1933px 1573px #fff,
      1913px 137px #fff, 679px 1127px #fff, 582px 1431px #fff, 135px 1422px #fff,
      130px 1100px #fff, 555px 386px #fff, 1591px 213px #fff, 453px 1581px #fff,
      195px 307px #fff, 1841px 417px #fff, 1829px 1688px #fff, 292px 1044px #fff,
      973px 1381px #fff, 1585px 1457px #fff, 1371px 528px #fff, 482px 628px #fff,
      397px 19px #fff, 1407px 1808px #fff, 1796px 477px #fff, 617px 1483px #fff,
      847px 1691px #fff, 977px 981px #fff, 472px 777px #fff, 897px 1320px #fff,
      1474px 1333px #fff, 263px 388px #fff, 1817px 909px #fff, 1609px 494px #fff,
      731px 1044px #fff, 552px 1982px #fff, 1553px 300px #fff, 789px 545px #fff,
      475px 192px #fff, 76px 522px #fff, 1800px 1782px #fff, 20px 1877px #fff,
      1148px 1408px #fff, 981px 1477px #fff, 714px 797px #fff,
      1221px 1525px #fff, 1095px 1922px #fff, 1938px 1227px #fff,
      366px 99px #fff, 1923px 544px #fff, 1940px 439px #fff, 178px 1573px #fff,
      1455px 682px #fff, 862px 1478px #fff, 591px 887px #fff, 1400px 1531px #fff,
      1874px 471px #fff, 466px 1288px #fff, 1276px 421px #fff, 384px 1990px #fff,
      1636px 1475px #fff, 1776px 1490px #fff, 1245px 1497px #fff,
      869px 138px #fff, 1460px 1317px #fff, 1731px 181px #fff, 1507px 61px #fff,
      1880px 1420px #fff, 756px 910px #fff, 115px 1595px #fff,
      1221px 1846px #fff, 895px 987px #fff, 1014px 1645px #fff,
      817px 1700px #fff, 966px 337px #fff, 151px 1850px #fff, 392px 986px #fff,
      1697px 1551px #fff, 573px 1922px #fff, 440px 1945px #fff,
      784px 1820px #fff, 230px 522px #fff, 362px 1553px #fff, 864px 1579px #fff,
      1005px 874px #fff, 526px 378px #fff, 1845px 1010px #fff,
      1295px 1207px #fff, 943px 151px #fff, 741px 1905px #fff, 480px 288px #fff,
      1068px 465px #fff, 488px 701px #fff, 956px 1426px #fff, 1357px 1094px #fff,
      1983px 967px #fff, 1331px 843px #fff, 1606px 479px #fff, 1673px 553px #fff,
      1645px 1104px #fff, 807px 1122px #fff, 74px 1208px #fff,
      1400px 1356px #fff, 791px 1473px #fff, 62px 1334px #fff, 1992px 638px #fff,
      541px 801px #fff, 66px 475px #fff, 1368px 292px #fff, 1479px 1711px #fff,
      21px 1652px #fff, 1862px 879px #fff, 1774px 890px #fff, 1928px 1015px #fff,
      232px 87px #fff, 796px 1662px #fff, 906px 1810px #fff, 469px 1348px #fff,
      1525px 133px #fff, 1068px 113px #fff, 199px 588px #fff, 189px 843px #fff,
      1271px 1848px #fff, 1993px 1159px #fff, 1780px 433px #fff,
      938px 1505px #fff, 359px 1616px #fff, 1501px 141px #fff, 479px 159px #fff,
      1914px 462px #fff, 1982px 1402px #fff, 1071px 266px #fff,
      1049px 1027px #fff, 1848px 528px #fff, 70px 417px #fff, 465px 184px #fff,
      624px 1640px #fff, 712px 281px #fff, 1011px 266px #fff, 188px 536px #fff,
      399px 1972px #fff, 1617px 250px #fff, 1598px 1658px #fff,
      228px 1980px #fff, 47px 666px #fff, 1111px 842px #fff, 961px 992px #fff,
      485px 1057px #fff, 1844px 1765px #fff;
  }
  70% {
    box-shadow: 542px 1519px #fff, 577px 600px #fff, 502px 1296px #fff,
      93px 1423px transparent, 405px 1872px transparent, 1265px 636px #fff,
      1746px 180px #fff, 1523px 1125px #fff, 560px 1027px transparent,
      1228px 1831px transparent, 1774px 26px #fff, 1382px 1795px transparent,
      1160px 529px transparent, 424px 1660px #fff, 1915px 66px #fff,
      270px 726px transparent, 230px 1704px transparent, 469px 1152px #fff,
      1544px 708px transparent, 363px 1048px #fff, 1416px 579px transparent,
      712px 427px transparent, 79px 1966px transparent, 921px 114px transparent,
      566px 143px transparent, 1578px 146px transparent, 47px 502px transparent,
      521px 268px transparent, 673px 293px #fff, 552px 934px transparent,
      1357px 91px #fff, 424px 1683px #fff, 188px 644px #fff, 941px 468px #fff,
      297px 435px #fff, 535px 989px transparent, 1640px 745px transparent,
      790px 1674px #fff, 378px 829px transparent, 138px 1181px #fff,
      784px 895px #fff, 78px 192px #fff, 576px 1788px transparent,
      1190px 884px transparent, 893px 942px transparent, 216px 1335px #fff,
      1179px 1728px transparent, 272px 1617px #fff, 373px 1313px transparent,
      831px 1320px #fff, 227px 1682px transparent, 1373px 605px #fff,
      563px 975px #fff, 1370px 1728px #fff, 1138px 730px transparent,
      1755px 1330px transparent, 1273px 1814px transparent, 481px 254px #fff,
      925px 1145px transparent, 1644px 378px transparent, 957px 1382px #fff,
      1113px 1610px #fff, 1108px 1255px #fff, 967px 982px #fff,
      745px 1134px #fff, 1991px 1067px #fff, 502px 1479px transparent,
      708px 1790px #fff, 512px 1952px transparent, 1499px 854px transparent,
      925px 1793px transparent, 1511px 1253px #fff, 1570px 1130px #fff,
      691px 1507px transparent, 946px 32px transparent, 429px 1351px #fff,
      1832px 984px transparent, 1448px 1103px #fff, 685px 550px transparent,
      1500px 1461px #fff, 1961px 1386px transparent, 1849px 646px transparent,
      804px 436px transparent, 202px 1841px transparent,
      1694px 732px transparent, 78px 1622px transparent, 764px 477px transparent,
      618px 580px #fff, 1220px 228px #fff, 1927px 428px transparent,
      1855px 1345px transparent, 1757px 194px transparent, 585px 1539px #fff,
      1370px 1010px transparent, 1724px 12px #fff, 1199px 1577px transparent,
      591px 940px transparent, 697px 969px #fff, 1524px 525px #fff,
      1137px 755px #fff, 1551px 1421px transparent, 1359px 271px #fff,
      1764px 989px transparent, 206px 779px transparent, 93px 844px #fff,
      1383px 1698px #fff, 1466px 32px #fff, 1561px 1666px #fff, 262px 7px #fff,
      1844px 1217px transparent, 1124px 1527px #fff, 735px 134px #fff,
      1064px 663px transparent, 1918px 743px transparent,
      176px 1353px transparent, 394px 300px #fff, 1638px 399px #fff,
      1949px 1412px transparent, 1384px 173px transparent, 249px 1664px #fff,
      1997px 775px #fff, 1187px 1473px #fff, 1699px 712px #fff, 1696px 10px #fff,
      1451px 983px #fff, 1403px 491px transparent, 1994px 276px #fff,
      823px 98px transparent, 243px 1723px transparent, 1758px 1960px #fff,
      926px 455px #fff, 1644px 1388px #fff, 1681px 1572px transparent,
      366px 1691px #fff, 1095px 66px #fff, 790px 1939px #fff, 1673px 536px #fff,
      786px 1959px transparent, 1685px 446px #fff, 1235px 28px #fff,
      520px 1813px transparent, 414px 510px #fff, 694px 1871px #fff,
      56px 93px #fff, 779px 1736px transparent, 1937px 286px #fff,
      352px 682px #fff, 1134px 413px transparent, 1230px 1597px transparent,
      1228px 1847px transparent, 944px 260px #fff, 624px 1451px #fff,
      1637px 1401px transparent, 260px 657px #fff, 691px 916px transparent,
      1933px 1573px #fff, 1913px 137px #fff, 679px 1127px transparent,
      582px 1431px transparent, 135px 1422px #fff, 130px 1100px #fff,
      555px 386px #fff, 1591px 213px #fff, 453px 1581px #fff,
      195px 307px transparent, 1841px 417px transparent,
      1829px 1688px transparent, 292px 1044px #fff, 973px 1381px transparent,
      1585px 1457px transparent, 1371px 528px transparent, 482px 628px #fff,
      397px 19px transparent, 1407px 1808px transparent,
      1796px 477px transparent, 617px 1483px transparent,
      847px 1691px transparent, 977px 981px #fff, 472px 777px transparent,
      897px 1320px transparent, 1474px 1333px transparent, 263px 388px #fff,
      1817px 909px #fff, 1609px 494px #fff, 731px 1044px #fff, 552px 1982px #fff,
      1553px 300px transparent, 789px 545px transparent, 475px 192px #fff,
      76px 522px transparent, 1800px 1782px #fff, 20px 1877px transparent,
      1148px 1408px transparent, 981px 1477px transparent, 714px 797px #fff,
      1221px 1525px transparent, 1095px 1922px #fff, 1938px 1227px #fff,
      366px 99px transparent, 1923px 544px #fff, 1940px 439px transparent,
      178px 1573px #fff, 1455px 682px transparent, 862px 1478px transparent,
      591px 887px transparent, 1400px 1531px transparent, 1874px 471px #fff,
      466px 1288px #fff, 1276px 421px transparent, 384px 1990px #fff,
      1636px 1475px #fff, 1776px 1490px #fff, 1245px 1497px transparent,
      869px 138px transparent, 1460px 1317px #fff, 1731px 181px #fff,
      1507px 61px #fff, 1880px 1420px transparent, 756px 910px transparent,
      115px 1595px #fff, 1221px 1846px #fff, 895px 987px #fff,
      1014px 1645px #fff, 817px 1700px transparent, 966px 337px #fff,
      151px 1850px transparent, 392px 986px #fff, 1697px 1551px #fff,
      573px 1922px #fff, 440px 1945px transparent, 784px 1820px transparent,
      230px 522px #fff, 362px 1553px #fff, 864px 1579px transparent,
      1005px 874px #fff, 526px 378px transparent, 1845px 1010px transparent,
      1295px 1207px #fff, 943px 151px #fff, 741px 1905px #fff,
      480px 288px transparent, 1068px 465px #fff, 488px 701px transparent,
      956px 1426px transparent, 1357px 1094px transparent,
      1983px 967px transparent, 1331px 843px #fff, 1606px 479px transparent,
      1673px 553px transparent, 1645px 1104px transparent,
      807px 1122px transparent, 74px 1208px #fff, 1400px 1356px transparent,
      791px 1473px #fff, 62px 1334px transparent, 1992px 638px transparent,
      541px 801px transparent, 66px 475px #fff, 1368px 292px #fff,
      1479px 1711px transparent, 21px 1652px transparent, 1862px 879px #fff,
      1774px 890px #fff, 1928px 1015px #fff, 232px 87px transparent,
      796px 1662px transparent, 906px 1810px #fff, 469px 1348px #fff,
      1525px 133px transparent, 1068px 113px transparent, 199px 588px #fff,
      189px 843px #fff, 1271px 1848px transparent, 1993px 1159px #fff,
      1780px 433px #fff, 938px 1505px #fff, 359px 1616px transparent,
      1501px 141px transparent, 479px 159px #fff, 1914px 462px transparent,
      1982px 1402px #fff, 1071px 266px transparent, 1049px 1027px transparent,
      1848px 528px #fff, 70px 417px #fff, 465px 184px #fff,
      624px 1640px transparent, 712px 281px #fff, 1011px 266px #fff,
      188px 536px transparent, 399px 1972px transparent, 1617px 250px #fff,
      1598px 1658px #fff, 228px 1980px transparent, 47px 666px #fff,
      1111px 842px transparent, 961px 992px #fff, 485px 1057px transparent,
      1844px 1765px #fff;
  }
}
@keyframes blink-medium {
  0% {
    box-shadow: 644px 932px #fff, 1986px 800px #fff, 961px 218px #fff,
      92px 268px #fff, 428px 643px #fff, 550px 1229px #fff, 1146px 724px #fff,
      1423px 704px #fff, 1304px 236px #fff, 1688px 1370px #fff,
      959px 1164px #fff, 618px 419px #fff, 1976px 137px #fff, 1619px 1026px #fff,
      480px 1404px #fff, 1677px 452px #fff, 509px 1999px #fff, 166px 1386px #fff,
      377px 238px #fff, 1411px 26px #fff, 668px 330px #fff, 1908px 659px #fff,
      873px 765px #fff, 1434px 1040px #fff, 815px 1048px #fff, 783px 1886px #fff,
      237px 1118px #fff, 1542px 1377px #fff, 1490px 574px #fff, 537px 434px #fff,
      326px 776px #fff, 1527px 1435px #fff, 1658px 1710px #fff,
      1468px 1310px #fff, 1602px 1503px #fff, 1469px 600px #fff,
      1725px 1041px #fff, 151px 360px #fff, 1550px 1465px #fff, 137px 188px #fff,
      1010px 632px #fff, 1877px 937px #fff, 437px 639px #fff, 1295px 520px #fff,
      1769px 104px #fff, 1808px 351px #fff, 309px 1174px #fff, 768px 41px #fff,
      53px 756px #fff, 856px 948px #fff, 1437px 324px #fff, 1751px 112px #fff,
      621px 1185px #fff, 1807px 509px #fff, 911px 1768px #fff, 1379px 168px #fff,
      576px 577px #fff, 253px 487px #fff, 1349px 564px #fff, 317px 124px #fff,
      1711px 624px #fff, 1256px 1266px #fff, 1353px 1611px #fff,
      746px 1064px #fff, 1878px 1454px #fff, 1881px 688px #fff, 740px 355px #fff,
      1689px 1281px #fff, 784px 764px #fff, 970px 1006px #fff, 1963px 295px #fff,
      962px 631px #fff, 608px 1388px #fff, 1097px 102px #fff, 484px 53px #fff,
      1020px 1698px #fff, 1394px 818px #fff, 1537px 1594px #fff,
      1994px 1867px #fff, 124px 135px #fff, 943px 1638px #fff, 612px 212px #fff,
      1812px 1488px #fff, 285px 1164px #fff, 261px 1797px #fff,
      1585px 1715px #fff, 1713px 1669px #fff, 1982px 632px #fff,
      782px 220px #fff, 1457px 177px #fff, 304px 1729px #fff, 866px 1544px #fff,
      546px 881px #fff, 220px 1829px #fff, 1359px 1433px #fff, 507px 500px #fff,
      1577px 1913px #fff, 1517px 723px #fff, 1033px 1387px #fff, 17px 400px #fff,
      1346px 1141px #fff, 1245px 1728px #fff, 388px 259px #fff,
      1431px 1267px #fff, 442px 299px #fff, 964px 955px #fff, 1058px 1726px #fff,
      1679px 1741px #fff, 1920px 510px #fff, 753px 1373px #fff,
      1910px 1074px #fff, 1539px 431px #fff, 152px 1017px #fff,
      756px 1603px #fff, 589px 467px #fff, 104px 1763px #fff, 1103px 1129px #fff,
      1988px 678px #fff, 1645px 310px #fff, 827px 1918px #fff, 993px 1818px #fff,
      1093px 1209px #fff, 335px 570px #fff, 1342px 600px #fff,
      1224px 1359px #fff, 389px 1766px #fff, 392px 887px #fff, 1351px 409px #fff,
      894px 1600px #fff, 1919px 1897px #fff, 351px 1748px #fff, 91px 1191px #fff,
      1192px 111px #fff, 334px 936px #fff, 1910px 1487px #fff, 1696px 905px #fff,
      1698px 1770px #fff, 442px 1672px #fff, 298px 359px #fff, 769px 926px #fff,
      55px 1852px #fff, 143px 268px #fff, 752px 1571px #fff, 1708px 1223px #fff,
      1211px 1817px #fff, 418px 748px #fff, 1305px 1002px #fff, 809px 699px #fff,
      1300px 1198px #fff, 256px 855px #fff, 1031px 1626px #fff,
      1043px 1517px #fff, 637px 688px #fff, 1052px 328px #fff, 639px 361px #fff,
      878px 779px #fff, 774px 1391px #fff, 113px 772px #fff, 277px 328px #fff,
      1263px 431px #fff, 855px 351px #fff, 1936px 22px #fff, 1315px 1705px #fff,
      939px 1019px #fff, 343px 887px #fff, 28px 856px #fff, 801px 890px #fff,
      804px 1617px #fff, 1750px 1179px #fff, 985px 1743px #fff,
      1713px 1156px #fff, 170px 786px #fff, 774px 1278px #fff, 1247px 396px #fff,
      3px 1062px #fff, 1142px 1982px #fff, 982px 1472px #fff, 1064px 630px #fff,
      167px 1673px #fff, 637px 1612px #fff, 572px 1584px #fff,
      1353px 1622px #fff, 908px 228px #fff, 1566px 1794px #fff,
      1722px 732px #fff, 86px 1920px #fff, 1242px 1622px #fff, 1007px 999px #fff,
      1149px 1947px #fff, 1812px 404px #fff, 91px 1488px #fff,
      1213px 1450px #fff, 536px 1628px #fff, 1177px 1876px #fff,
      956px 760px #fff, 1679px 289px #fff, 1459px 244px #fff, 1189px 958px #fff,
      1064px 1415px #fff, 173px 243px #fff, 975px 699px #fff, 1550px 1899px #fff,
      1088px 1606px #fff, 741px 655px #fff, 1736px 117px #fff, 400px 1413px #fff,
      1038px 76px #fff, 154px 1509px #fff, 142px 1431px #fff, 136px 212px #fff,
      443px 626px #fff, 825px 1548px #fff, 1154px 108px #fff, 119px 1660px #fff,
      1153px 1822px #fff, 1928px 668px #fff, 1865px 575px #fff, 991px 801px #fff,
      1352px 1641px #fff, 1479px 1784px #fff, 1442px 654px #fff,
      1859px 1931px #fff, 305px 1135px #fff, 243px 377px #fff,
      1530px 1435px #fff, 1206px 1997px #fff, 1916px 777px #fff,
      1592px 1723px #fff, 490px 223px #fff, 672px 1437px #fff, 1879px 956px #fff,
      235px 1085px #fff, 738px 1184px #fff, 450px 653px #fff, 239px 1168px #fff,
      1428px 1925px #fff, 1886px 222px #fff, 1121px 179px #fff, 843px 232px #fff,
      1150px 1976px #fff, 820px 622px #fff, 1442px 1531px #fff,
      1891px 1046px #fff, 72px 1875px #fff, 146px 1760px #fff, 659px 607px #fff,
      1405px 1961px #fff, 255px 455px #fff, 5px 371px #fff, 1809px 1977px #fff,
      1659px 837px #fff, 720px 1027px #fff, 727px 1729px #fff, 147px 366px #fff,
      1106px 797px #fff, 976px 730px #fff, 1744px 638px #fff, 714px 81px #fff,
      902px 1989px #fff, 279px 1645px #fff, 1234px 1397px #fff,
      1144px 902px #fff, 1512px 423px #fff, 679px 313px #fff, 698px 48px #fff,
      1672px 458px #fff, 1052px 95px #fff, 171px 519px #fff, 134px 15px #fff,
      1323px 1433px #fff, 622px 1242px #fff, 1767px 914px #fff,
      199px 1107px #fff, 1993px 255px #fff, 1945px 565px #fff,
      1010px 1965px #fff, 1810px 785px #fff, 367px 1594px #fff,
      1410px 130px #fff, 1816px 204px #fff, 898px 1752px #fff,
      1095px 1574px #fff, 1206px 1160px #fff, 203px 737px #fff,
      1640px 534px #fff, 1224px 686px #fff, 1629px 1808px #fff,
      1326px 1053px #fff, 158px 1167px #fff, 78px 1611px #fff,
      1440px 1062px #fff, 956px 1924px #fff, 1724px 841px #fff, 707px 28px #fff,
      1964px 1834px #fff, 964px 789px #fff, 569px 1251px #fff, 855px 176px #fff,
      458px 788px #fff, 291px 961px #fff, 406px 1397px #fff, 381px 862px #fff,
      1167px 774px #fff, 744px 1987px #fff, 1231px 911px #fff, 255px 1537px #fff,
      1216px 811px #fff, 1848px 1898px #fff, 109px 818px #fff, 1754px 900px #fff,
      1932px 117px #fff, 529px 1879px #fff, 1534px 540px #fff, 213px 515px #fff,
      676px 587px #fff, 1604px 1002px #fff, 1578px 763px #fff, 1697px 95px #fff,
      611px 1643px #fff, 383px 1380px #fff, 1549px 1910px #fff, 433px 438px #fff,
      1504px 1593px #fff, 480px 41px #fff, 1557px 894px #fff, 1951px 1037px #fff,
      783px 1666px #fff, 1852px 471px #fff, 1096px 1438px #fff, 957px 819px #fff,
      915px 443px #fff, 1310px 1568px #fff, 1048px 745px #fff, 1900px 168px #fff,
      1043px 1543px #fff, 69px 1215px #fff, 44px 1347px #fff, 1439px 1563px #fff,
      1825px 842px #fff, 1877px 1300px #fff, 769px 1923px #fff, 577px 827px #fff,
      216px 1941px #fff, 1104px 447px #fff, 1631px 1595px #fff,
      860px 1820px #fff, 1783px 1181px #fff, 1949px 1205px #fff,
      1843px 589px #fff, 674px 1517px #fff, 157px 645px #fff, 1979px 1583px #fff,
      1202px 1460px #fff, 90px 1037px #fff, 1759px 1156px #fff,
      1023px 1301px #fff, 1845px 1466px #fff, 562px 482px #fff,
      164px 1423px #fff, 1983px 342px #fff, 233px 192px #fff, 1447px 1522px #fff,
      113px 1485px #fff, 69px 1661px #fff, 845px 715px #fff, 1086px 349px #fff,
      1778px 1411px #fff, 194px 1495px #fff, 744px 1383px #fff,
      1526px 1692px #fff, 1425px 721px #fff, 822px 92px #fff, 682px 262px #fff,
      438px 1549px #fff, 1854px 1581px #fff, 187px 820px #fff, 1027px 869px #fff,
      1897px 625px #fff, 1082px 606px #fff, 1169px 1696px #fff, 823px 949px #fff,
      486px 711px #fff, 1829px 1482px #fff, 728px 419px #fff, 1729px 172px #fff,
      1198px 896px #fff, 1146px 1336px #fff, 1983px 407px #fff, 502px 921px #fff,
      771px 1188px #fff, 145px 1901px #fff, 1828px 1521px #fff, 12px 976px #fff,
      250px 1306px #fff, 691px 417px #fff, 640px 744px #fff, 1266px 666px #fff,
      245px 1892px #fff, 1010px 1206px #fff, 478px 23px #fff, 1385px 1428px #fff,
      637px 1528px #fff, 1556px 724px #fff, 1504px 213px #fff, 859px 30px #fff,
      1767px 301px #fff, 1605px 1079px #fff, 1059px 1px #fff, 926px 931px #fff,
      873px 1449px #fff, 1872px 1426px #fff, 1082px 791px #fff,
      1143px 946px #fff, 1225px 763px #fff, 1614px 1585px #fff,
      1539px 574px #fff, 1736px 1444px #fff, 1610px 818px #fff,
      948px 1651px #fff, 1884px 1628px #fff, 1192px 1822px #fff,
      1493px 1805px #fff, 1629px 1518px #fff, 641px 631px #fff,
      1352px 1596px #fff, 278px 560px #fff, 1445px 599px #fff, 641px 47px #fff,
      911px 747px #fff, 366px 1452px #fff, 1296px 1037px #fff, 1147px 14px #fff,
      1796px 472px #fff, 772px 695px #fff, 1882px 3px #fff, 879px 1708px #fff,
      1451px 1358px #fff, 1165px 1431px #fff, 185px 1610px #fff,
      1383px 645px #fff, 1994px 1317px #fff, 655px 529px #fff, 965px 202px #fff,
      1553px 1923px #fff, 952px 657px #fff, 1916px 659px #fff, 509px 802px #fff,
      302px 1005px #fff, 1576px 892px #fff, 1112px 906px #fff, 338px 302px #fff,
      1396px 454px #fff, 738px 237px #fff, 1750px 413px #fff, 117px 1409px #fff,
      902px 1412px #fff, 993px 261px #fff, 1820px 1398px #fff, 74px 482px #fff,
      1711px 1356px #fff, 1785px 1832px #fff, 1297px 200px #fff,
      1777px 1237px #fff, 457px 155px #fff, 1588px 1616px #fff,
      1907px 1640px #fff, 1003px 944px #fff, 1119px 519px #fff,
      1861px 1989px #fff, 1487px 51px #fff, 1439px 79px #fff, 752px 1229px #fff,
      1846px 403px #fff, 572px 825px #fff, 1901px 337px #fff, 434px 735px #fff,
      916px 1481px #fff, 435px 1867px #fff, 1372px 20px #fff, 242px 1536px #fff,
      86px 1249px #fff, 392px 543px #fff, 408px 183px #fff, 854px 912px #fff,
      269px 816px #fff, 729px 662px #fff, 1157px 1674px #fff, 1349px 439px #fff,
      756px 370px #fff, 1087px 90px #fff, 1193px 1733px #fff, 727px 120px #fff,
      1834px 1759px #fff, 1658px 27px #fff, 1216px 164px #fff,
      1650px 1015px #fff, 1151px 1779px #fff, 1373px 939px #fff,
      1551px 850px #fff;
  }
  70% {
    box-shadow: 644px 932px transparent, 1986px 800px transparent,
      961px 218px #fff, 92px 268px transparent, 428px 643px transparent,
      550px 1229px transparent, 1146px 724px #fff, 1423px 704px transparent,
      1304px 236px transparent, 1688px 1370px #fff, 959px 1164px #fff,
      618px 419px #fff, 1976px 137px #fff, 1619px 1026px #fff,
      480px 1404px transparent, 1677px 452px transparent,
      509px 1999px transparent, 166px 1386px transparent,
      377px 238px transparent, 1411px 26px transparent, 668px 330px transparent,
      1908px 659px transparent, 873px 765px transparent,
      1434px 1040px transparent, 815px 1048px #fff, 783px 1886px transparent,
      237px 1118px transparent, 1542px 1377px transparent,
      1490px 574px transparent, 537px 434px transparent, 326px 776px #fff,
      1527px 1435px #fff, 1658px 1710px #fff, 1468px 1310px #fff,
      1602px 1503px #fff, 1469px 600px #fff, 1725px 1041px #fff,
      151px 360px #fff, 1550px 1465px transparent, 137px 188px #fff,
      1010px 632px transparent, 1877px 937px transparent,
      437px 639px transparent, 1295px 520px transparent, 1769px 104px #fff,
      1808px 351px #fff, 309px 1174px transparent, 768px 41px transparent,
      53px 756px transparent, 856px 948px #fff, 1437px 324px #fff,
      1751px 112px transparent, 621px 1185px transparent,
      1807px 509px transparent, 911px 1768px #fff, 1379px 168px #fff,
      576px 577px transparent, 253px 487px #fff, 1349px 564px #fff,
      317px 124px #fff, 1711px 624px transparent, 1256px 1266px transparent,
      1353px 1611px transparent, 746px 1064px #fff, 1878px 1454px transparent,
      1881px 688px #fff, 740px 355px #fff, 1689px 1281px transparent,
      784px 764px transparent, 970px 1006px transparent,
      1963px 295px transparent, 962px 631px transparent, 608px 1388px #fff,
      1097px 102px transparent, 484px 53px transparent,
      1020px 1698px transparent, 1394px 818px #fff, 1537px 1594px #fff,
      1994px 1867px #fff, 124px 135px #fff, 943px 1638px #fff,
      612px 212px transparent, 1812px 1488px transparent,
      285px 1164px transparent, 261px 1797px #fff, 1585px 1715px #fff,
      1713px 1669px #fff, 1982px 632px transparent, 782px 220px #fff,
      1457px 177px #fff, 304px 1729px #fff, 866px 1544px #fff,
      546px 881px transparent, 220px 1829px #fff, 1359px 1433px transparent,
      507px 500px transparent, 1577px 1913px transparent,
      1517px 723px transparent, 1033px 1387px #fff, 17px 400px #fff,
      1346px 1141px transparent, 1245px 1728px #fff, 388px 259px #fff,
      1431px 1267px transparent, 442px 299px transparent, 964px 955px #fff,
      1058px 1726px #fff, 1679px 1741px #fff, 1920px 510px #fff,
      753px 1373px #fff, 1910px 1074px #fff, 1539px 431px #fff,
      152px 1017px transparent, 756px 1603px transparent, 589px 467px #fff,
      104px 1763px transparent, 1103px 1129px transparent, 1988px 678px #fff,
      1645px 310px #fff, 827px 1918px #fff, 993px 1818px #fff,
      1093px 1209px transparent, 335px 570px transparent, 1342px 600px #fff,
      1224px 1359px #fff, 389px 1766px #fff, 392px 887px #fff, 1351px 409px #fff,
      894px 1600px transparent, 1919px 1897px transparent,
      351px 1748px transparent, 91px 1191px #fff, 1192px 111px #fff,
      334px 936px #fff, 1910px 1487px transparent, 1696px 905px #fff,
      1698px 1770px #fff, 442px 1672px #fff, 298px 359px transparent,
      769px 926px transparent, 55px 1852px #fff, 143px 268px transparent,
      752px 1571px transparent, 1708px 1223px transparent,
      1211px 1817px transparent, 418px 748px #fff, 1305px 1002px transparent,
      809px 699px transparent, 1300px 1198px transparent,
      256px 855px transparent, 1031px 1626px transparent,
      1043px 1517px transparent, 637px 688px #fff, 1052px 328px #fff,
      639px 361px transparent, 878px 779px transparent, 774px 1391px #fff,
      113px 772px #fff, 277px 328px transparent, 1263px 431px transparent,
      855px 351px transparent, 1936px 22px #fff, 1315px 1705px transparent,
      939px 1019px #fff, 343px 887px transparent, 28px 856px #fff,
      801px 890px #fff, 804px 1617px transparent, 1750px 1179px transparent,
      985px 1743px transparent, 1713px 1156px #fff, 170px 786px transparent,
      774px 1278px #fff, 1247px 396px #fff, 3px 1062px #fff, 1142px 1982px #fff,
      982px 1472px transparent, 1064px 630px transparent,
      167px 1673px transparent, 637px 1612px transparent, 572px 1584px #fff,
      1353px 1622px #fff, 908px 228px #fff, 1566px 1794px transparent,
      1722px 732px transparent, 86px 1920px #fff, 1242px 1622px #fff,
      1007px 999px #fff, 1149px 1947px transparent, 1812px 404px transparent,
      91px 1488px transparent, 1213px 1450px #fff, 536px 1628px #fff,
      1177px 1876px transparent, 956px 760px #fff, 1679px 289px transparent,
      1459px 244px transparent, 1189px 958px transparent, 1064px 1415px #fff,
      173px 243px #fff, 975px 699px #fff, 1550px 1899px #fff, 1088px 1606px #fff,
      741px 655px transparent, 1736px 117px transparent,
      400px 1413px transparent, 1038px 76px transparent, 154px 1509px #fff,
      142px 1431px transparent, 136px 212px transparent, 443px 626px transparent,
      825px 1548px #fff, 1154px 108px #fff, 119px 1660px #fff,
      1153px 1822px #fff, 1928px 668px transparent, 1865px 575px transparent,
      991px 801px transparent, 1352px 1641px transparent,
      1479px 1784px transparent, 1442px 654px transparent, 1859px 1931px #fff,
      305px 1135px #fff, 243px 377px transparent, 1530px 1435px transparent,
      1206px 1997px #fff, 1916px 777px transparent, 1592px 1723px #fff,
      490px 223px transparent, 672px 1437px #fff, 1879px 956px #fff,
      235px 1085px #fff, 738px 1184px transparent, 450px 653px transparent,
      239px 1168px transparent, 1428px 1925px transparent, 1886px 222px #fff,
      1121px 179px #fff, 843px 232px transparent, 1150px 1976px #fff,
      820px 622px #fff, 1442px 1531px #fff, 1891px 1046px #fff,
      72px 1875px transparent, 146px 1760px #fff, 659px 607px transparent,
      1405px 1961px transparent, 255px 455px transparent, 5px 371px transparent,
      1809px 1977px transparent, 1659px 837px #fff, 720px 1027px transparent,
      727px 1729px #fff, 147px 366px transparent, 1106px 797px #fff,
      976px 730px #fff, 1744px 638px #fff, 714px 81px #fff,
      902px 1989px transparent, 279px 1645px #fff, 1234px 1397px #fff,
      1144px 902px transparent, 1512px 423px transparent, 679px 313px #fff,
      698px 48px transparent, 1672px 458px transparent, 1052px 95px transparent,
      171px 519px transparent, 134px 15px transparent, 1323px 1433px #fff,
      622px 1242px #fff, 1767px 914px transparent, 199px 1107px #fff,
      1993px 255px #fff, 1945px 565px transparent, 1010px 1965px transparent,
      1810px 785px transparent, 367px 1594px transparent,
      1410px 130px transparent, 1816px 204px transparent, 898px 1752px #fff,
      1095px 1574px #fff, 1206px 1160px transparent, 203px 737px #fff,
      1640px 534px #fff, 1224px 686px transparent, 1629px 1808px transparent,
      1326px 1053px transparent, 158px 1167px transparent,
      78px 1611px transparent, 1440px 1062px #fff, 956px 1924px #fff,
      1724px 841px #fff, 707px 28px #fff, 1964px 1834px #fff, 964px 789px #fff,
      569px 1251px transparent, 855px 176px #fff, 458px 788px transparent,
      291px 961px transparent, 406px 1397px #fff, 381px 862px #fff,
      1167px 774px transparent, 744px 1987px #fff, 1231px 911px #fff,
      255px 1537px transparent, 1216px 811px #fff, 1848px 1898px transparent,
      109px 818px transparent, 1754px 900px transparent, 1932px 117px #fff,
      529px 1879px #fff, 1534px 540px #fff, 213px 515px transparent,
      676px 587px #fff, 1604px 1002px transparent, 1578px 763px transparent,
      1697px 95px transparent, 611px 1643px #fff, 383px 1380px transparent,
      1549px 1910px #fff, 433px 438px transparent, 1504px 1593px #fff,
      480px 41px #fff, 1557px 894px #fff, 1951px 1037px transparent,
      783px 1666px transparent, 1852px 471px #fff, 1096px 1438px transparent,
      957px 819px #fff, 915px 443px transparent, 1310px 1568px #fff,
      1048px 745px transparent, 1900px 168px #fff, 1043px 1543px transparent,
      69px 1215px #fff, 44px 1347px #fff, 1439px 1563px #fff,
      1825px 842px transparent, 1877px 1300px #fff, 769px 1923px #fff,
      577px 827px #fff, 216px 1941px #fff, 1104px 447px #fff,
      1631px 1595px transparent, 860px 1820px #fff, 1783px 1181px transparent,
      1949px 1205px transparent, 1843px 589px #fff, 674px 1517px #fff,
      157px 645px #fff, 1979px 1583px #fff, 1202px 1460px #fff, 90px 1037px #fff,
      1759px 1156px transparent, 1023px 1301px transparent, 1845px 1466px #fff,
      562px 482px #fff, 164px 1423px transparent, 1983px 342px #fff,
      233px 192px #fff, 1447px 1522px transparent, 113px 1485px transparent,
      69px 1661px transparent, 845px 715px transparent, 1086px 349px transparent,
      1778px 1411px transparent, 194px 1495px #fff, 744px 1383px transparent,
      1526px 1692px #fff, 1425px 721px transparent, 822px 92px #fff,
      682px 262px #fff, 438px 1549px #fff, 1854px 1581px transparent,
      187px 820px #fff, 1027px 869px transparent, 1897px 625px #fff,
      1082px 606px transparent, 1169px 1696px transparent, 823px 949px #fff,
      486px 711px #fff, 1829px 1482px #fff, 728px 419px #fff, 1729px 172px #fff,
      1198px 896px transparent, 1146px 1336px transparent,
      1983px 407px transparent, 502px 921px #fff, 771px 1188px transparent,
      145px 1901px #fff, 1828px 1521px transparent, 12px 976px #fff,
      250px 1306px #fff, 691px 417px #fff, 640px 744px #fff,
      1266px 666px transparent, 245px 1892px #fff, 1010px 1206px #fff,
      478px 23px #fff, 1385px 1428px #fff, 637px 1528px #fff, 1556px 724px #fff,
      1504px 213px transparent, 859px 30px transparent, 1767px 301px #fff,
      1605px 1079px transparent, 1059px 1px transparent, 926px 931px transparent,
      873px 1449px #fff, 1872px 1426px #fff, 1082px 791px transparent,
      1143px 946px transparent, 1225px 763px transparent,
      1614px 1585px transparent, 1539px 574px #fff, 1736px 1444px #fff,
      1610px 818px #fff, 948px 1651px #fff, 1884px 1628px #fff,
      1192px 1822px #fff, 1493px 1805px #fff, 1629px 1518px #fff,
      641px 631px transparent, 1352px 1596px #fff, 278px 560px transparent,
      1445px 599px #fff, 641px 47px transparent, 911px 747px #fff,
      366px 1452px #fff, 1296px 1037px transparent, 1147px 14px #fff,
      1796px 472px #fff, 772px 695px #fff, 1882px 3px transparent,
      879px 1708px #fff, 1451px 1358px #fff, 1165px 1431px transparent,
      185px 1610px #fff, 1383px 645px #fff, 1994px 1317px transparent,
      655px 529px transparent, 965px 202px transparent,
      1553px 1923px transparent, 952px 657px transparent,
      1916px 659px transparent, 509px 802px transparent, 302px 1005px #fff,
      1576px 892px #fff, 1112px 906px #fff, 338px 302px #fff,
      1396px 454px transparent, 738px 237px #fff, 1750px 413px transparent,
      117px 1409px #fff, 902px 1412px transparent, 993px 261px transparent,
      1820px 1398px #fff, 74px 482px transparent, 1711px 1356px #fff,
      1785px 1832px #fff, 1297px 200px #fff, 1777px 1237px transparent,
      457px 155px transparent, 1588px 1616px #fff, 1907px 1640px transparent,
      1003px 944px transparent, 1119px 519px transparent,
      1861px 1989px transparent, 1487px 51px transparent, 1439px 79px #fff,
      752px 1229px transparent, 1846px 403px transparent,
      572px 825px transparent, 1901px 337px transparent, 434px 735px #fff,
      916px 1481px #fff, 435px 1867px transparent, 1372px 20px #fff,
      242px 1536px transparent, 86px 1249px transparent, 392px 543px #fff,
      408px 183px transparent, 854px 912px #fff, 269px 816px transparent,
      729px 662px #fff, 1157px 1674px transparent, 1349px 439px transparent,
      756px 370px #fff, 1087px 90px transparent, 1193px 1733px #fff,
      727px 120px #fff, 1834px 1759px #fff, 1658px 27px #fff,
      1216px 164px transparent, 1650px 1015px transparent,
      1151px 1779px transparent, 1373px 939px #fff, 1551px 850px #fff;
  }
}
